body{
    font-family: 'Helvetica';
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    font-size:14px;
    line-height: 4rem;
}
.questionBox{
    width: 50vw;
    display: none;
}
.questionBox2 {
    padding: 1rem;
    height: auto;
    background-color:#f4f2ea;
}
.item_list--question {
    font-weight: 700;
    cursor: pointer;
}
.item_list--text {
    margin: 0;
    align-self: flex-start;
    background-color:#f4f2ea;
    line-height: 1.5rem;
}
a{ 
    color: #ac4e6f;
    display: flex;
    align-self: end;
}
.linkVideo {
    display: none;
}
a:link {
    height: 5vh;
    text-decoration: none
}